In [1]:
#Import dependencies
import csv
import pandas as pd

In [2]:
#import 201806 csv data
JC_201806_citibike_tripdata_df = pd.read_csv('data/JC-201806-citibike-tripdata.csv')
JC_201806_citibike_tripdata_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,329,2018-06-01 07:07:00.2990,2018-06-01 07:12:30.2220,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29513,Subscriber,1991,1
1,259,2018-06-01 08:24:43.8490,2018-06-01 08:29:03.8450,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26221,Subscriber,1989,2
2,686,2018-06-01 09:17:49.5730,2018-06-01 09:29:16.1770,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29266,Subscriber,1990,1
3,164,2018-06-01 09:44:00.4020,2018-06-01 09:46:44.6830,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29472,Subscriber,1993,1
4,769,2018-06-01 09:59:28.7800,2018-06-01 10:12:18.6660,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,33679,Subscriber,1977,1

In [3]:
#import 201807 csv data
JC_201807_citibike_tripdata_df = pd.read_csv('data/JC-201807-citibike-tripdata.csv')
JC_201807_citibike_tripdata_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1234,2018-07-01 02:08:39.8920,2018-07-01 02:29:14.4890,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26306,Customer,1969,0
1,1041,2018-07-01 02:09:07.5180,2018-07-01 02:26:28.8720,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29204,Customer,1969,0
2,2308,2018-07-01 02:14:45.7400,2018-07-01 02:53:14.5970,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26234,Customer,1969,0
3,767,2018-07-01 02:25:12.4020,2018-07-01 02:38:00.0510,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26238,Subscriber,1992,1
4,151,2018-07-01 04:07:44.0520,2018-07-01 04:10:15.8010,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29204,Subscriber,1972,1

In [4]:
#import 201808 csv data
JC_201808_citibike_tripdata_df = pd.read_csv('data/JC-201808-citibike-tripdata.csv')
JC_201808_citibike_tripdata_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,903,2018-08-01 06:40:33.3610,2018-08-01 06:55:37.1060,3183,Exchange Place,40.716247,-74.033459,3270,Jersey & 6th St,40.725289,-74.045572,29612,Subscriber,1977,1
1,78,2018-08-01 08:21:00.1450,2018-08-01 08:22:18.6310,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29791,Subscriber,1975,1
2,405,2018-08-01 08:43:52.5150,2018-08-01 08:50:37.6140,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29571,Subscriber,1973,1
3,155,2018-08-01 09:48:24.9450,2018-08-01 09:51:00.9360,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29504,Subscriber,1971,1
4,453,2018-08-01 12:15:35.1230,2018-08-01 12:23:08.8880,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,33669,Subscriber,1993,1

In [5]:
#import 201809 csv data
JC_201809_citibike_tripdata_df = pd.read_csv('data/JC-201809-citibike-tripdata.csv')
JC_201809_citibike_tripdata_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,284,2018-09-01 01:48:22.0320,2018-09-01 01:53:06.9130,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26303,Subscriber,1984,1
1,370,2018-09-01 01:48:22.5010,2018-09-01 01:54:32.9270,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29667,Subscriber,1984,1
2,1181,2018-09-01 09:37:04.3070,2018-09-01 09:56:45.3280,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26307,Customer,1994,1
3,383,2018-09-01 09:44:46.0030,2018-09-01 09:51:09.9230,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,29261,Subscriber,1987,1
4,377,2018-09-01 09:44:46.1850,2018-09-01 09:51:03.6330,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,33665,Subscriber,1985,1

In [6]:
#import 201810 csv data
JC_201810_citibike_tripdata_df = pd.read_csv('data/JC-201810-citibike-tripdata.csv')
JC_201810_citibike_tripdata_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,152,2018-10-01 07:44:41.4170,2018-10-01 07:47:14.2960,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,15302,Subscriber,1971,2
1,122,2018-10-01 08:50:05.4340,2018-10-01 08:52:08.2250,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29654,Subscriber,1973,1
2,211,2018-10-01 09:03:17.0640,2018-10-01 09:06:48.0940,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,33621,Subscriber,1958,1
3,342,2018-10-01 10:13:07.0090,2018-10-01 10:18:49.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,26266,Subscriber,1982,1
4,2976,2018-10-01 10:45:14.2800,2018-10-01 11:34:51.2610,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,27083,Customer,1969,0

In [7]:
#import 201811 csv data
JC_201811_citibike_tripdata_df = pd.read_csv('data/JC-201811-citibike-tripdata.csv')
JC_201811_citibike_tripdata_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1188,2018-11-01 06:32:27.5190,2018-11-01 06:52:15.9140,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,33662,Customer,1969,0
1,278,2018-11-01 07:14:31.8680,2018-11-01 07:19:10.2610,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29254,Subscriber,1963,1
2,115,2018-11-01 07:33:17.1920,2018-11-01 07:35:12.2830,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,33607,Subscriber,1966,1
3,155,2018-11-01 08:20:10.9320,2018-11-01 08:22:46.7050,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,29222,Subscriber,1975,2
4,82,2018-11-01 08:35:02.7850,2018-11-01 08:36:25.1840,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29678,Subscriber,1975,1

In [8]:
#import 201812 csv data
JC_201812_citibike_tripdata_df = pd.read_csv('data/JC-201812-citibike-tripdata.csv')
JC_201812_citibike_tripdata_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,170,2018-12-01 00:03:53.3860,2018-12-01 00:06:43.7160,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26261,Subscriber,1975,1
1,172,2018-12-01 00:47:13.7340,2018-12-01 00:50:05.8160,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,26175,Subscriber,1988,1
2,247,2018-12-01 00:48:57.6960,2018-12-01 00:53:05.6780,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29255,Subscriber,1990,1
3,406,2018-12-01 01:33:53.6630,2018-12-01 01:40:39.7480,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29275,Subscriber,1995,1
4,354,2018-12-01 06:26:52.5120,2018-12-01 06:32:46.5170,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29658,Subscriber,1976,1

In [9]:
# Combine all data
citibike_201806_12 = pd.concat([JC_201806_citibike_tripdata_df, JC_201807_citibike_tripdata_df, JC_201808_citibike_tripdata_df, JC_201809_citibike_tripdata_df, JC_201810_citibike_tripdata_df, JC_201811_citibike_tripdata_df, JC_201812_citibike_tripdata_df])
citibike_201806_12.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
20200,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.71113,-74.0789,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
20201,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.71113,-74.0789,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
20202,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.71113,-74.0789,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
20203,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.71113,-74.0789,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
20204,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.71113,-74.0789,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1

In [10]:
#Gender column cleanup/rename
citibike_201806_12 = citibike_201806_12.replace({0: None})
citibike_201806_12 = citibike_201806_12[citibike_201806_12.gender.notna()]
citibike_201806_12['gender'].head(20)
citibike_201806_12['gender'] = citibike_201806_12['gender'].replace({1: 'male', 2: 'female'})
citibike_201806_12['gender'].head()

0      male
1    female
2      male
3      male
4      male
Name: gender, dtype: object

In [11]:
#Export data in to csv
citibike_201806_12.to_csv("data/citibike_201806_12_new.csv")